/* Base Styling */
html {
  font-size: 16px;
}

body {
  font-family: Inter, "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  font-size: clamp(0.89rem, 0.23vw + 0.84rem, 1rem);
  color: #24272B;
  line-height: 1.5;
  background-color: #FEFEFE;
  overflow-x: hidden !important;
  overflow-wrap: break-word;
}

a {
  color: #24272B;
}
a:hover {
  color: #39AF70;
}

select {
  border-radius: 8px;
}

button {
  transition: background-color 0.15s ease-in-out;
  border: 0px;
}

#appBody {
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "Work Sans" sans-serif;
  line-height: calc(2px + 2ex + 2px);
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: clamp(3.39rem, 0.87vw + 3.2rem, 3.81rem);
}

h2 {
  font-size: clamp(2.71rem, 0.69vw + 2.56rem, 3.05rem);
}

h3 {
  font-size: clamp(2.17rem, 0.55vw + 2.05rem, 2.44rem);
}

h4 {
  font-size: clamp(1.74rem, 0.44vw + 1.64rem, 1.95rem);
}

h5 {
  font-size: clamp(1.39rem, 0.36vw + 1.31rem, 1.56rem);
}

h6 {
  font-size: clamp(1.11rem, 0.28vw + 1.05rem, 1.25rem);
}

.tiny {
  font-size: clamp(0.57rem, 0.15vw + 0.54rem, 0.64rem);
}

.small {
  font-size: clamp(0.71rem, 0.18vw + 0.67rem, 0.8rem);
}

/* Image Styling */
img {
  max-width: 100%;
  max-height: 100%;
}

.centerImg {
  margin-left: auto;
  margin-right: auto;
}

/* Padding Styling */
.padMobile {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.pad-a {
  padding-top: 8px;
}

.pad-b {
  padding-top: 12px;
}

.pad-c {
  padding-top: 16px;
}

.pad-d {
  padding-top: 24px;
}

.pad-e {
  padding-top: 32px;
}

.pad-f {
  padding-top: 40px;
}

.pad-g {
  padding-top: 48px;
}

.pad-h {
  padding-top: 56px;
}

.pad-i {
  padding-top: 64px;
}

.pad-j {
  padding-top: 72px;
}

.card {
  border-radius: 16px;
  border: 1px #85A09C;
  background-color: #EAF0EE;
}

.primary-btn {
  border-radius: 8px;
  background-color: #39AF70;
}
.primary-btn:hover {
  background-color: #25754a;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #39AF70;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #39AF70;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39AF70;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wallet .redeemBtn {
  background-color: #39AF70;
  border-radius: 8px;
  color: white;
}
.wallet .redeemBtnDisabled {
  border-radius: 8px;
}
.wallet .closeBtn {
  background-color: #ca001e;
  border-radius: 8px;
  color: white;
}
.wallet .use {
  border-radius: 8px;
}
.wallet .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(1000px circle at 0% 0%, hsl(158, 41%, 35%) 15%, hsl(158, 41%, 30%) 25%, hsl(158, 41%, 20%) 75%, hsl(158, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(158, 41%, 45%) 15%, hsl(158, 41%, 30%) 35%, hsl(158, 41%, 20%) 75%, hsl(158, 41%, 19%) 80%, transparent 100%);
}