@import "./variable";

/* Base Styling */

html {
    font-size: $font-base-rem;
}

body {
    font-family: $baseFont;
    font-weight: $font-base-weight;
    font-size: $font-size-base;
    color: $darkShade;
    line-height: $font-body-line-height;
    background-color: $offWhite;
    overflow-x: hidden !important;
    overflow-wrap: break-word;
}

a {
    color: $darkShade;

    &:hover {
        color: $mainBrand;
    }

}

select {
    border-radius: $radiusSmall;
}

button {
    transition: background-color 0.15s ease-in-out;
    border: 0px;
}

#appBody {
    background-color: white;
}

h1,
h2,
h3 {
    //Prevent overflow of long words/URLs
    font-family: $headerFont;
    line-height: $font-variable-line-height;
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    font-weight: $font-header-weight;
}

h4,
h5,
h6 {
    font-weight: $font-semiheader-weight;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

.tiny {
    font-size: $font-size-tiny;
}

.small {
    font-size: $font-size-caption;
}

/* Image Styling */

img {
    max-width: 100%;
    max-height: 100%;
}

.centerImg {
    margin-left: auto;
    margin-right: auto;
}

/* Padding Styling */

.padMobile {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.pad-a {
    padding-top: 8px;
}

.pad-b {
    padding-top: 12px;
}

.pad-c {
    padding-top: 16px;
}

.pad-d {
    padding-top: 24px;
}

.pad-e {
    padding-top: 32px;
}

.pad-f {
    padding-top: 40px;
}

.pad-g {
    padding-top: 48px;
}

.pad-h {
    padding-top: 56px;
}

.pad-i {
    padding-top: 64px;
}

.pad-j {
    padding-top: 72px;
}

.card {
    border-radius: $radiusRegular;
    background-color: $lightAccent;
    color: $darkShade;
}

.primary-btn {
    border-radius: $radiusSmall;
    background-color: $lightShade;
    

    &:hover {
        background-color: $mainBrand;
    }
}